<header class="header">
  <div class="logo">
    <img src="img/logo.jpg" class="rounded-circle">
  </div>
  <nav>
    <ul class="nav-links">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/catalog">Catalogo</a></li>
      <li><a routerLink="/contact">Contacto</a></li>
      <li><a routerLink="/aboutus">Sobre Nosotros</a></li>
      <li><a routerLink="/login">Iniciar sesion</a></li>
    </ul>
  </nav>
  <a routerLink="/payment" class="btn" href="#"><button>Carrito</button></a>
</header>
