<header class="header">
  <div class="logo">
    <img src="img/logo.png" class="rounded-circle">
  </div>
  <nav>
    <ul class="nav-links">
      <li><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/product-catalog" routerLinkActive="active">Catalogo</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
      <li><a routerLink="/aboutus" routerLinkActive="active">Sobre Nosotros</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Iniciar sesion</a></li>
    </ul>
  </nav>
  <a routerLink="/payment" class="btn" href="#"><button>Carrito</button></a>
</header>
