
<body>
    
<div class="about-container">
    <div class="about-hero">
      <h1>Sobre Nosotros</h1>
      <p>Pasión por el café desde el primer sorbo.</p>
    </div>
  
    <div class="about-section">
      <img src="img/granosDeCafe.jpg" alt="" class="about-image" />
      <div class="about-text">
        <h2>Nuestra Historia</h2>
        <p>
          Fundada por amantes del café, nuestra tienda nació con el objetivo de llevar el mejor café artesanal a cada hogar.
          Desde fincas locales hasta productores internacionales, seleccionamos cada grano con dedicación y amor por esta bebida milenaria.
        </p>
      </div>
    </div>
  
    <div class="about-section reverse">
      <div class="about-text">
        <h2>Misión</h2>
        <p>
          En nuestra empresa, nos comprometemos a ofrecer café de alta calidad, sustentable y con trazabilidad clara, apoyando a pequeños caficultores y promoviendo el comercio justo. Nuestro objetivo es proporcionar a nuestros clientes una experiencia de sabor y calidad excepcionales, mientras contribuimos al desarrollo económico y social de las comunidades cafeteras.        </p>
      </div>
      <img src="img/tazaDeCafe.jpg" alt="" class="about-image" />
    </div>
  
    <div class="about-section">
      <img src="img/hombreCafe.png" alt="" class="about-image" />
      <div class="about-text">
        <h2>Visión</h2>
        <p>
          Convertirnos en la tienda online de referencia para los amantes del café en todo el mundo, sin perder nuestra esencia artesanal y humana. Queremos ofrecer una experiencia de café auténtica y de alta calidad, mientras mantenemos un enfoque personalizado y cercano a nuestros clientes.        </p>
      </div>
    </div>
  </div>
</body>
