<main class="mainBody">
  <div class="banner">
    <img src="img/bannerCafe.png" alt="" />
  </div>
  <section class="welcome">
    <h2>Bienvenido al Rincon del Café</h2>
    <p>
      Ofrecemos una selección premium de cafés de origen único, tostados a la
      perfección y entregados directamente a tu puerta para que disfrutes de la
      mejor experiencia cafetera en casa.
    </p>
  </section>

  <section class="gallery">
    <h2 style="padding: 20px;">Cafés más vendidos</h2>
    <div class="gallery-container">
      <div class="gallery-item">
        <img src="img/capuccinoo.png" alt="" />
        <h4>Capuccino</h4>
      </div>
      <div class="gallery-item">
        <img src="img/cortado.png" alt="">
        <h4>Cortado</h4>
      </div>
      <div class="gallery-item">
        <img src="img/americano.png" alt="" />
        <h4>Americano</h4>
      </div>
    </div>
    <a routerLink="/catalog" class="vermas">Ver más</a>
  </section>

  <section class="reviews">
    <h2>Lo que dicen nuestros clientes</h2>
    <div class="review-container">
      <div class="review">
        <p class="review-text">
          "El mejor café que he probado. ¡Definitivamente volveré por más!"
        </p>
        <p>⭐⭐⭐⭐⭐</p>
        <p class="review-author">- Ana Pérez</p>
      </div>
      <div class="review">
        <p class="review-text">
          "Me encanta la variedad de sabores y la calidad del café.
          ¡Recomendado!"
        </p>
        <p>⭐⭐⭐⭐⭐</p>
        <p class="review-author">- Juan López</p>
      </div>
      <div class="review">
        <p class="review-text">
          "Un servicio excepcional y un café delicioso. ¡Gracias!"
        </p>
        <p>⭐⭐⭐⭐</p>
        <p class="review-author">- María García</p>
      </div>
    </div>
  </section>
  
  <section class="faq">
    <h2>Preguntas frecuentes</h2>
    <div class="faq-container">
      <div class="faq-item">
        <h4>¿Cómo se envían los pedidos?</h4>
        <p>Nuestros pedidos se envían a través de un servicio de entrega rápida y segura.</p>
      </div>
      <div class="faq-item">
        <h4>¿Cuál es el proceso de devolución?</h4>
        <p>Si no estás satisfecho con tu pedido, puedes devolverlo dentro de los 30 días siguientes a la entrega.</p>
      </div>
      <div class="faq-item">
        <h4>¿Cómo puedo cancelar mi pedido?</h4>
        <p>Puedes cancelar tu pedido contactándonos a través de nuestro formulario de contacto o llamándonos al número de teléfono indicado en nuestra página web.</p>
      </div>
      <div class="faq-item">
        <h4>¿Cuál es el plazo de entrega?</h4>
        <p>Nuestros pedidos se entregan dentro de los 1-2 días hábiles siguientes a la confirmación del pedido.</p>
      </div>
    </div>
  </section>
</main>
