@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: linear-gradient(to right, #fff8f0, #fff8f0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 40px;
  width: 400px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form h1 {
  margin-bottom: 10px;
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

form span {
  font-size: 12px;
}

form input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

form button {
  background-color: #A67B5B;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #5D3A3A;
}

form a {
  font-size: 13px;
  color: #333;
  margin: 10px 0;
  text-decoration: none;
}
